<div class="uk-flex uk-flex-nowrap uk-grid-small uk-margin-left">
  <div class="uk-padding-remove-left">
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">HOME TYPE</button>
  </div>
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">DATES</button>
  </div>
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">GUESTS</button>
  </div>
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">PRICE</button>
  </div>
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">ROOMS AND BEDS</button>
  </div>
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">AMENITIES</button>
  </div>
</div>

